{% extends "get-base.html" %}
{% block sidebar%}
<div class="sidebar" id="sidebar">
        <div class="sections">
            <a href="#" class="nav icon">
                <img src="\static\images\logo.jpg" alt="_Logo_" width="85px" height="75px">
            </a>


            <hr style="width:90%; border: 1px solid rgb(210,210,210);">
            <a href="/pharmacy/dashboard" class="elem">📊 Dashboard</a>
            <a href="/pharmacy/incoming" class="elem">📦 Incoming Batches</a>
            <a class="elem" href="/pharmacy/history">🚚 Batch History</a>
        </div>
        <div class="logout">
            <a href="/logout" class="logout-btn">🚪Logout</a>
        </div>
    </div>





{%endblock%}{% block info %}
<h2>Details of your Past Batches</h2>
{% if batches %}
<div class="table-wrapper">
    
    <table>
        <thead>
            <tr>
                <th>S No.</th>
                <th>Batch ID</th>
                <th>Manufacturing Organization</th>
                <th>Medicine Name</th>
                <th>Quantity</th>
                <th>Batch Certificate</th>
                
                <th>Shipping Date</th>
                <th>Delivery Date</th>
                <th>Batch Status</th>
            </tr>
        </thead>
        <tbody>

            {% for batch in batches %}
            {% set chain_len = batch.initialdata | length %}
            <tr>

                <td>{{ loop.index }}</td>
                <td>{{ batch.batchID }}</td>
                <td>{{ batch.initialdata[0].data.MfgOrgName }}</td>
                <td>{{ batch.initialdata[0].data.medname }}</td>
                <td>{{ batch.initialdata[0].data.quantity }}</td>
                <td>
                    {% if batch.initialdata[0].data.get("files", {}).get("certificate") %}
                    <a href="{{ batch.initialdata[0].data.files.certificate }}">Download Certificate</a>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                
                <td>{{ batch.initialdata[2].data.shipdate }}</td>
                <td>{{ batch.initialdata[2].data.estdate }}</td>

                <td>
                    {% if batch.length == 3 %}
                    Pharmacy has been Allotted. In Transit
                    {% elif batch.initialdata[2].length == 4 and batch.initialdata[3].data.responsibility == "True" %}
                    Verified

                    {% else %}
                    Rejected
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
{% else %}
<br>
<div class="form-control error" style="background-color: rgb(102, 102, 102);color: white;text-align: center; font-size: 25px; font-weight: 400;width: 80%;">

    <p style="margin: 0;">No batches present as of now</p>  
</div>
{% endif %}

{% endblock %}